/* HEADER */
.App-header {
  background-color: #818cf8;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 5vmin);
  padding-bottom: 8px;
}

/* BODY */
.App-body h1 {
  text-align: center;
  font-size: calc(8px + 3vmin);

}
#stockPricesView {
  display:none;
  font-size: calc(8px + 1vmin);
}